<!DOCTYPE html>
<html lang="en-US">
<head>

</head>
<body>
<h3>Thankyou for Signing up!!</h3>
<p>Dear <%= name %>, </p>
<p>Welcome to the Company API community! We're thrilled to have you on board.</p>
<p>Your registration is complete, and you're now all set to add Company Details using our dashboard</p>
<br/>
<p>Kindly Login again to enter to dashboard page!!</p>

<p>Regards,</p>
<p>Company API team</p>
</body>
</html>